$color-primary: tomato;
$color-secondary: #e0e3da;
$color-play: #2ecc71;
$color-stop: #c0392b;
$color-pause: #3498db;

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: $color-primary;
  color: $color-secondary;
  font-size: 1.4rem;
}
