@import "base";

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

.container {
  width: 70rem;
  margin: 4rem auto;
  @include flexColumn;
  @media only screen and (max-width: 40em) {
    width: 30rem;
    margin: 1rem auto;
  }

  .clock span,
  .session-length span,
  .break-length span {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
}

.title {
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 40em) {
    order: -2;
  }
}

.time-length {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.clock {
  @include flexColumn;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid $color-secondary;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  margin: 0 auto;
  @media only screen and (max-width: 40em) {
    height: 25rem;
    width: 25rem;
    order: -1;
    margin-bottom: 2rem;
  }
}

.session-length {
  @include flexColumn;
  align-items: center;

  @media only screen and (max-width: 40em) {
    margin-bottom: 2rem;
  }
}

.break-length {
  @include flexColumn;
  align-items: center;
}

.btn {
  border: none;
  padding: 0.8rem;
  border-radius: 4rem;
  outline: none;
  cursor: pointer;
  color: $color-secondary;
}

.btn:active {
  transform: translateY(0.1rem);
}

.break-minus,
.session-minus,
.reset {
  background-color: $color-stop;
}

.break-add,
.session-add,
.play {
  background-color: $color-play;
}

.pause {
  background-color: $color-pause;
}

.title {
  margin-bottom: 1rem;
}

.time-edit {
  margin-bottom: 1rem;
}

.pause,
.play,
.reset {
  width: 4rem;
}
