.clock {
  @include flexColumn;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid $color-secondary;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  margin: 0 auto;

  &-span {
    @include timeFormat;
  }

  @media only screen and (max-width: 40em) {
    height: 25rem;
    width: 25rem;
    order: -1;
    margin-bottom: 2rem;
  }
}

.session {
  &-length {
    @include flexColumn;
    align-items: center;

    @media only screen and (max-width: 40em) {
      margin-bottom: 2rem;
    }
  }

  &-span {
    @include timeFormat;
  }
}

.break {
  &-length {
    @include flexColumn;
    align-items: center;
  }

  &-span {
    @include timeFormat;
  }
}

.time {
  &-length {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  &-edit {
    margin-bottom: 1rem;
  }
}
