*::before,
*::after,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: tomato;
  color: #e0e3da;
  font-size: 1.4rem;
}

body span {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container {
  width: 70rem;
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 40em) {
  .container {
    width: 30rem;
    margin: 2rem auto;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 40em) {
  .title {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
}

.time-length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.2rem solid #e0e3da;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 40em) {
  .clock {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 2rem;
  }
}

.session-length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 40em) {
  .session-length {
    margin-bottom: 2rem;
  }
}

.break-length {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  border: none;
  padding: 0.8rem;
  border-radius: 4rem;
  outline: none;
  cursor: pointer;
  color: #e0e3da;
}

.btn:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: 0 0.1rem 0.1rem #000;
          box-shadow: 0 0.1rem 0.1rem #000;
}

.break-minus,
.session-minus,
.reset {
  background-color: #c0392b;
}

.break-add,
.session-add,
.play {
  background-color: #2ecc71;
}

.pause {
  background-color: #3498db;
}

.title {
  margin-bottom: 1rem;
}

.time-edit {
  margin-bottom: 1rem;
}

.pause,
.play,
.reset {
  width: 4rem;
}
/*# sourceMappingURL=style.css.map */